<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crudadmin">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TB1MPNew">

        <!-- Main (Launcher) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TB1MPNew">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Upload -->
        <activity
            android:name=".UploadActivity"
            android:exported="false" />

        <!-- Update: input nama -->
        <activity
            android:name=".UpdateActivity"
            android:exported="false" />

        <!-- Update: list dan detail -->
        <activity
            android:name=".ListUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".DetailUpdateActivity"
            android:exported="false" />

        <!-- Delete: input nama -->
        <activity
            android:name=".DeleteActivity"
            android:exported="false" />

        <!-- Delete: list dan detail -->
        <activity
            android:name=".ListDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".DetailDeleteActivity"
            android:exported="false" />

    </application>
</manifest>